/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
:root{
    --color-light: rgb(245, 245, 245);
    --color-dark: rgb(33, 33, 33);
    --font-light: rgb(250, 250, 250);
    --font-dark: rgb(33, 33, 33);
    --font-highlight-light: rgb(130, 177, 255);
    --font-highlight-dark: rgb(13, 71, 161);
    --shadow-box: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: rgb(234, 237, 237);
}
/*--------------------------- Navbar ---------------------------*/
nav{
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    background: var(--color-dark);
    width: 100%;
    height: 100px;
    z-index: 10;
    transition: 0.8s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
nav .logo{
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    color: var(--font-light);
    left: 50px;
    text-transform: uppercase;
}
nav .nav-menu{
    position: absolute;
    right: 50px;
    display: flex;
}
nav .nav-menu li{
    margin: 0 20px;
    list-style: none;
}
nav .nav-menu li a{
    text-decoration: none;
    color: var(--font-light);
    font-size: 1.5rem;
    transition: 0.6s;
}
nav .nav-menu li a:hover{
    font-weight: bold;
    letter-spacing: 5px;
    transition: 0.6s;
}
/*----------------------- Navbar Sticky ------------------------*/
nav.sticky{
    background: var(--color-light);
}
nav.sticky .logo,
nav.sticky .nav-menu li a{
    color: var(--font-dark);
}
/*------------------------- Burger Bar -------------------------*/
.menu-btn{
    position: absolute;
    right: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.burger-btn{
    display: none;
    width: 35px;
    height: 5px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(183, 245, 245, 0.164);
    transition: all 0.5s ease-in-out;
}
.burger-btn::before,
.burger-btn::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(183, 245, 245, 0.164);
    transition: all 0.5s ease-in-out;
}
.burger-btn::before{
    transform: translateY(-10px);
}
.burger-btn::after{
    transform: translateY(10px);
}
/*----Animation Burger Bar----*/
.menu-btn.open .burger-btn{
    transform: translateX((-50px));
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .burger-btn::before{
    transform: rotate(45deg) ;
}
.menu-btn.open .burger-btn::after{
    transform: rotate(-45deg) ;
}
/*--------------------------------------------------------------*/
.container{
    width: 100%;
    height: 900px;
    padding: 25px 50px;
    margin-bottom: 50px;
    position: relative;
    top: 100px;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.content .content-title{
    text-align: center;
}
.content .content-title h1{
    font-size: 40px;
    color: var(--font-dark);
    letter-spacing: 2px;
    text-decoration-line: underline;
}
.content .content-title span{
    font-size: 40px;
}
.content .content-body{
    margin-top: 25px;
    width: 100%;
    height: 700px;
    /* border: 3px solid red; */
}
.btn{   
    margin-top: 70px;  
}
.btn .btn-more{
    width: 400px;
    height: 100px;
    padding: 20px;
    text-decoration: none;
    color: var(--font-dark);
    font-size: 30px;
    border: 3px solid #000;
    border-radius: 25px;
    transition: 0.6s;
}
.btn .btn-more:hover{
    color: var(--font-light);
    border-radius: 50px;
    background: #000;
    transition: 0.6s;
    letter-spacing: 5px;
}
/*--------------------------- Home ---------------------------*/
.home .container{
    background: url(images/bg01.jpg);
    background-size: cover;
    padding: 0;
}
.home .content{
    position: relative;
    top: 150px;
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.726);
    display: flex;
    align-items: center;
}
.home .content-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.home .content .img-box{
    margin: 0 20px;
    width: 500px;
    height: 700px;
    background:#fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}
.home .content .img-box img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 3px dashed #000;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.home .content-title{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home .content .title-box{
    width: 100%;
    height: 400px;
    position: relative;
    right: 250px;
    background: linear-gradient(to left, rgba(255,0,0,0), rgba(255,255,255,255));
    border-radius: 20px;
    color: var(--font-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .content .text-box{
    text-align: center;
}
.home .content .text-box h1{
    font-size: 50px;
    letter-spacing: 2px;
    text-decoration-line: none;
}
.home .content .text-box span{
    font-size: 55px;
    text-decoration-line: underline;
    color: var(--font-highlight-dark);
}
.home .content .text-box span:nth-child(2){
    font-size: 50px;
    text-decoration-line: none;
    color: #B3E5FC;
}
/*--------------------------------------------------------------*/

/*--------------------------- About ----------------------------*/
.about .content .content-title span{
    color: var(--font-highlight-dark);
}
.about .content-body{
    display: flex;
}
.about .body-profile{
    width: 50%;
    margin: 15px;
    border-radius: 50px;
    background: rgb(239, 235, 233);
    box-shadow: var(--shadow-box);
}
.about .body-profile .body-box{
    position: relative;
    top: 130px;
    padding: 50px;
    width: 100%;
    height: 430px;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.9),rgba(255,255,255,0.1));
}
.about .body-profile .body-box li{
    list-style: none;
}
.about .body-profile .body-box p{
    font-size: 25px;
    color: var(--font-dark);
}
.about .body-profile .body-box span{
    font-size: 30px;
    font-weight: bold;
    color: var(--font-highlight-dark);
}
.about .contact{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.wrapper .btn{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: var(--color-light);
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.wrapper .btn:hover{
    width: 350px;
}
.wrapper .btn .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .btn:nth-child(1):hover .icon{
    background: rgb(13, 71, 161);
}
.wrapper .btn:nth-child(2):hover .icon{
    background: rgb(100, 221, 23);
}
.wrapper .btn:nth-child(3):hover .icon{
    background: rgb(229, 57, 53);
}
.wrapper .btn:nth-child(4):hover .icon{
    background: rgb(0, 200, 83);
}
.wrapper .btn .icon i{
    font-size: 25px;
    line-height: 60px;
    color: var(--font-dark);
    transition: all 0.3s ease-out;
}
.wrapper .btn:hover .icon i{
    color: var(--font-light);
}
.wrapper .btn span{
    margin-left: 10px;
    cursor: default;
    transition: all 0.8s ease-out;
}
.wrapper .btn span a{
    text-decoration: none;
}
.wrapper .btn:nth-child(1) span a{
    font-size: 22px;
    color: rgb(13, 71, 161);
}
.wrapper .btn:nth-child(2) span{
    font-size: 22px;
    color: rgb(100, 221, 23);
}
.wrapper .btn:nth-child(3) span{
    font-size: 22px;
    color: rgb(229, 57, 53);
}
.wrapper .btn:nth-child(4) span{
    font-size: 22px;
    color: rgb(0, 200, 83);
}
.about .body-img{
    width: 50%;
}
.about .body-img img{
    position: absolute;
    width: 360px;
    height: 360px;
    border-radius: 50px;
    border-right: 5px solid rgba(0, 0, 0, 0.493);
    object-fit: cover;
    box-shadow: var(--shadow-box);
}
.about .body-img img:nth-child(1){
    top: 10%;
    right: 20%;
}
.about .body-img img:nth-child(2){
    top: 35%;
    right: 5%;
}
.about .body-img img:nth-child(3){
    bottom: 50px;
    right: 23%;
}
/*------------------------------------------------------------*/

/*-------------------------- Education -----------------------*/
.education .container{
    background: url(images/bg03.jpg);
    background-size: cover;
    overflow: hidden;
}.education .content .content-title h1{
    color: var(--color-light);
}

.education .content .content-title span{
    color: #F9A825;
}
.education .content-body{
    border-radius: 10px;
    background: linear-gradient(to bottom,rgba(255,255,255,0.9),rgba(255, 255, 255, 0.9));
    padding: 15px;
    display: flex;
}
.education .content-body .body-img{
    width: 40%;
}
.education .content-body .body-img .img-box{
    background: var(--color-dark);
    padding: 25px;
    margin-top: 25px;
    width: 500px;
    height: 600px;
    position: absolute;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 50% 50% 0;
}
.education .content-body .body-img .img-box img{
    width: 300px;
    height: 300px;
}
.education .content-body .body-box{
    width: 100%;
}
.education .content-body .box{
    position: relative;
    width: 150%;
    height: 300px;
    margin: 15px;
    padding: 15px;
    border-radius: 25px;
    background: var(--color-dark);
    box-shadow: var(--shadow-box);
}

.education .content-body .body-box .text-box{
    width: 100%;
    height: 270px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: var(--shadow-box);
}
.education .content-body .body-box .text-box p{
    font-size: 25px;
    color: var(--font-light);
}
.education .content-body .body-box .text-box span{
    font-size: 30px;
    color: #FFAB00;
}
/*------------------------------------------------------------*/

/*-------------------------- Skills --------------------------*/
.skills .content .content-title span{
    color: #00C853;
}
.skills .content-body{
    display: flex;
    background: #9E9E9E;
    border-radius: 5px;
}
.skills .body-box{
    width: 800px;
    height: 650px;
    background: linear-gradient(to left, rgba(238, 238, 238,0.9),rgba(250, 250, 250,0.5));
    position: absolute;
    top: 140px;
    left: 560px;
    padding: 25px 25px 0 40px;
    border-radius: 0 20px 20px 0;
    box-shadow: var(--shadow-box);
}
.skills .body-box.circle{
    width: 400px;
    height: 650px;
    background: linear-gradient(to left, rgba(238, 238, 238,0.9),rgba(250, 250, 250,0.5));
    position: absolute;
    top: 140px;
    left: 74%;
    padding: 40px;
    border-radius: 20px;
}
.skills .body-box.circle .box{
    width: 100%;
    height: 350px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-dark);
    border-radius: 15px;
    box-shadow: var(--shadow-box);
}
.skills .body-box.circle .box .pie{
    width: 300px;
    height: 300px;
    background: #7C4DFF;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills .body-box.circle .box .pie .fill{
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 50%;
    background: #FF4081;
}
.skills .body-box.circle .box .pie .left-side.fill{
    clip: rect(0,150px,300px,0);
}
.skills .body-box.circle .box .pie .right-side.fill{
    transform: rotate(140deg);
    clip: rect(0,300px,300px,150px);
    
}
.skills .body-box.circle .box .pie .inside-circle{
    width: 220px;
    height: 220px;
    position: absolute;
    border-radius: 50%;
    background: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills .body-box.circle .box .pie .inside-circle .text-box{
    margin-top: 0px;
}
.skills .body-box.circle .text-box{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}
.skills .body-box.circle .text-box p{
    margin-top: 20px;
}
.skills .body-box.circle .text-box p:nth-child(1){
    color: #7C4DFF;
}
.skills .body-box.circle .text-box p:nth-child(2){
    color: #FF4081;
}
.skills .body-box .box{
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.skills .body-box .box .text-box{
   padding: 15px;
}
.skills .body-box .box .text-box .text-title{
    font-size: 21px;
}
.skills .body-box .box .text-box .text-body{
    margin: 10px 0;
    font-size: 20px;
    color: var(--font-dark);
    font-weight: bold;
    letter-spacing: 2px;
}
.skills .body-box .box .text-box .text-body .chart{
    height: 10px;
    border-radius: 20px;
}
.skills .body-box .box .text-box .text-body.html i{
    color: #FF3D00;
    font-size: 30px;
}
.skills .body-box .box .text-box .text-body.html .chart{
    width: 100%;
    background: #FF3D00;
}
.skills .body-box .box .text-box .text-body.css i{
    color: #0091EA;
    font-size: 30px;
}
.skills .body-box .box .text-box .text-body.css .chart{
    width: 65%;
    background: #0091EA;
}
.skills .body-box .box .text-box .text-body.js i{
    color: #FFA000;
    font-size: 30px;
}
.skills .body-box .box .text-box .text-body.js .chart{
    width: 70%;
    background: #FFA000;
}
.skills .body-box .box .text-box .text-body.java i{
    color: #FF6D00;
    font-size: 30px;
}
.skills .body-box .box .text-box .text-body.java .chart{
    width: 70%;
    background: #FF6D00;
}
.skills .body-box .box .text-box .text-body.py i{
    color: #01579B;
    font-size: 30px;
}
.skills .body-box .box .text-box .text-body.py .chart{
    width: 50%;
    background: #01579B;
}
.skills .body-img{
    width: 500px;
    height: 750px;
    position: absolute;
    top: 90px;
    left: 70px;
}
.skills .body-img .img-box{
    width: 100%;
    height: 100%;
}
.skills .body-img .img-box img{
    width: 500px;
    height: 100%;
    box-shadow: var(--shadow-box);
    border-radius: 25px;
}
/*------------------------------------------------------------*/

/*---------------------------- Work --------------------------*/
.work .container{
    padding: 25px 0;
    height: 1800px;
    overflow: hidden;
}
.work .content .content-title span{
    color: #00BFA5;
}
.work .content-body{
    height: 1600px;
    padding: 20px 25px;
    background: var(--color-dark);
    width: 100%;
    box-shadow: var(--shadow-box);
}
.work .body-img .text-title{
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--font-light);
    margin: 15px 0;
    text-align: center;
}
.work .body-img .text-title span{
    font-size: 25px;
    letter-spacing: 2px;
}
.work .body-img:nth-child(1) .text-title span:nth-child(1){
    color: #FF3D00;
}
.work .body-img:nth-child(1) .text-title span:nth-child(2){
    color: #0091EA;
}
.work .body-img:nth-child(1) .text-title span:nth-child(3){
    color: #FFA000;
}
.work .body-img:nth-child(2) .text-title span{
    color: #FF6D00;
}
.work .body-img .img-box{
    max-width: 100%;
    height: 550px;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-right: 5px solid rgba(33, 33, 33, 0.445);
}
.work .body-img .img-box img{
    width: 950px;
    height: 500px;
    object-fit: cover;
    margin: 0 20px;
    border-radius: 15px;
    transition: 0.5s;
}
.work .body-img .btn-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    height: 50px;
}
.work .body-img .btn-bar .btn{
    margin: 0;
    padding: 0 25px;
    font-size: 20px;
    transition: 0.5s;
}
.work .body-img .btn-bar .btn:hover{
    font-size: 30px;
    transition: 0.5s;
}
.work .body-img .btn-bar .btn i{
    color: var(--font-light);
}
/*------------------------------------------------------------*/