@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}
body{
    background: rgb(234, 237, 237);
}

#home{
    height: 800px;
}

#about{
    height: 100%;
}
#about img{
    max-width: 400px;
    width: 100vw;
    max-height: 400px;
    height: 100vh;
    
}
#about img.qrcode{
    width: 200px;
    height: 200px;
}
#education{
    height: auto;
}
#skill img{
    max-width: 700px;
    width: 100vw;
    height: auto;
}